/*Css for hero img starts*/
.hero-container {
  height: 50vw;
  margin: 0;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../shared/img/hotel hero.img.1.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-size: 3vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

 .callToAction {
   margin-top: 4vw;
  font-size: 2vw;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 7px 10px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: white;
  color: black;
}
/*Css for hero img ends*/

.activitisMain {
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 75vw;

}
.activitisMain div {
  margin: 10px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.activitis {
  background-image: url('../shared/img/adam-wilson-416248-unsplash.jpg');
}
.resturang {
  background-image: url('../shared/img/surfer-2212948_640.jpg');
  display: flex;
}
.test {
  display: flex;
  height: 34%
}
.facillitys {
  background-image: url('../shared/img/kaos.jpg');
  height: 60%
}
.resturang {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  height: 100%;
  width: 50%;
}
.testTesxt {
  border: 1px solid black;
  width: 40%;
  height: 100%;
  text-align: center;
}
.test1 {
  height: 15%;
  border: 1px solid black;
  width: 80%;
  align-self: center;
}
@media screen and (max-width: 1081px) {
  .navLinks {
    width: 50%
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .callToAction {
    font-size: 25px;
  }
  .hero-text button {
    color: white;
  }
  .activitisMain {
    flex-direction: column;
    height: 500px;

  }
  .activitisMain div {
    margin: 10px;
    width: auto;
    height: 30vw;
    justify-content: space-around;
  }

}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
    width: 300px;
  }
  .callToAction {
    font-size: 18px;
  }
  .hero-text {
    font-size: 10px
  }
}
