@import "../shared/sharedStyle.sass"

body
  height: 100%

.visionPage
  justify-content: center
  text-align: center

.visonAndGoalWrapper
  color: $darkOlive-color
  padding: 10px

.teamImg
  width: 100%
.ourTeam
  color: black
  padding: 20px
  font-size: 30px
  font-weight: lighter
  color: #32333A

.teamTitle
  padding: 20px
  padding-bottom: 0px

.goalAndFuture
  padding: 20px

.row
  background-image: url("../shared/picForVision/hotel_team.jpg")
  height: 100vh
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-attachment: fixed
  overflow-x: hidden
