@import "../shared/sharedStyle.sass"

.visionPage
  justify-content: center
  text-align: center

.teamImg
  width: 100%

.visonAndGoalTextWrapper
  background-color: $darkOlive-color
  color: $tan-color
  justify-content: center
