.Rooms {
  display: flex;
  flex-direction: column;
}

.Room {
  display: flex;
  margin-bottom: 10px;
  background-color: white;
}


@media screen and (max-width: 600px) {
  .Room {
    flex-direction: column;
  }
  img {
    width: 90%;
  }
}
.roomImg {
    border-radius: 8px;
    margin-left: 1em
}

.btnToConfirm > a{
  color: black;
}
.roomType {
}
.roomInfo {
    width: 84%;
    margin-left: 2em;
    margin-bottom: 1em;
    text-align: left;
}
.roomStats {
    margin-left: 2em;
    text-align: left;
}
.goToConfirmBtn {
    border-radius: 8px;
    padding: 0.5em;
    border: solid black 1px;
    font-size: 1em
}
.goToConfirmBtn:hover {
    cursor: pointer;
}
