
.Rooms {

  display: flex;
  flex-direction: column;
}

.Room {
  
  display: flex;
  margin-bottom: 10px;
  background-color: white;
}


@media screen and (max-width: 600px) {
  .Room {
    flex-direction: column;
  }
  img {
    width: 100%
  }
}
