
.wrapper
  justify-content: center
  display: flex
  margin: 10px
  text-align: center


.inputWrapper > h1
  color: #D4AF37
  margin-bottom: 40px

.confirimPage
  justify-content: center
  display: block
  text-align: center
  margin: 10px
  font-weight: lighter

.inputHolderPage > input
  border: solid 1px gray
  border-radius: 5px 5px
  margin-bottom: 0
  margin-top: 20px
  font-size: 20px
  height: 50px
  width: 250px
  text-align: center

.errorMsg
  color: red
  font-size: 18px

.inputWrapper
  margin-top: 20px

.inputWrapper p
  font-size: 1.2em

.inputHolderPage button
  border: inset 1px black
  border-radius: 5px 5px
  font-size: 1.5em
  padding: 10px
  background-color: #FFFFFF
  margin: 20px

.inputHolderPage button:hover
  background-color: #000000
  color: #FFFFFF
