@import '../sharedStyle.sass'

li
  list-style: none

*
  margin: 0
  padding: 0
  box-sizing: border-box

.not-active-burger
  display: none

.navMainContainer
  display: flex
  justify-content: space-around
  align-items: center
  min-height: 8vh
  background-color: black


.loggo
  color: white
  text-transform: uppercase
  letter-spacing: 5px
  font-size: 20px
.navLinks
  display: flex
  justify-content: space-around
  width: auto
  text-decoration: none
a
  color: white
  text-decoration: none
  letter-spacing: 3px
  font-weight: bold
  font-size: 14px
.navLinks li
  list-style: none
  padding-right: 10px
  margin-right: 10px
  border-right: 2px solid white
.navLinks li:last-child
  border: none


//Burger CSS at big screen
.burger
  display: none

.burger div
  width: 25px
  height: 3px
  background-color: white
  margin: 5px

.active-burger
  display: none

  //Burger CSS at mobile
@media screen and (max-width: 1080px)
  .navLinks
    width: 60%

@media screen and (max-width: 768px)
  body
   overflow-x: hidden
  h4
   text-align: center
   margin-left: 10px
  .navLinks li
    display: none
  .burger
    display: block
    cursor: pointer
    margin-right: 10px
  .active-burger
     position: absolute
     right: 0px
     height: 100vw
     top: 8vh
     background-color: black
     display: flex
     flex-direction: column
     align-items: center
     width: 100%
     transform: translateX(0%)
     transition: transform 0.5s ease-in

  a
    font-size: 25px

  .active-burger li
      padding: 10px
      margin: 10px
      border-bottom: 2px solid white

  
