@import '../shared/sharedStyle.sass'

.bookContainer

    height: 100%
    width: 100%
    padding: 1em

    h1
        margin-bottom: 1em
    input
        outline: none
        height: 1.8em
        width: 10em
        font-size: 1.2em
        border-radius: 10px
    select
        background-color: white
        height: 2em
        width: 100%
        font-size: 1.3em

    .dateTo
        &:hover
        cursor: pointer

    span
        font-size: 1.3em

    .dateValue
        margin-bottom: 1em
        display: block
        height: 300px

.bookContainer > button
    margin: 20px
    margin-top: 0
    width: 200px
    height: 50px
    border: 1px solid
    &:hover
        background-color: black
        color: white


.bajs
    display: block
    @media screen and (max-width:850px)

    // justify-content: center


.selectWrapper
    justify-content: center
    display: flex


.containerInput
    outline: none
    font-size: 1.2
    width: 98%
    border-radius: 10px

    @media screen and (max-width:850px)

.dateTo
    &:hover
    cursor: pointer

span
    font-size: 1.3em

.dateValue
    margin: 20px
    border-radius: 10px
    background-color: white
    font-size: 1em

    @media screen  and (max-width:850px)
        margin: 10px

.containerRoomPerson

    width: 45%
    font-size: 1.2em
    margin-right: 0px
    @media screen  and (max-width:850px)
        background-color: black


    .unActive
      display: none



.calendar
    transform: scale(0.8)
    position: absolute
    font-size: 0.5
.searchRoomBtn
    border-radius: 10px
    padding: 0.5em
    font-size: 1em
    margin-top: 1.3em
