@import '../shared/sharedStyle.sass'

.bookContainer
    background-color: $mediumTurquoise-color
    height: 20em
    width: 100%
    padding: 2em 0em 0em 2em

    input
        outline: none
        height: 1.8em
        width: 10em
        font-size: 1.3em
        border-radius: 10px

    select
        background-color: $tan-color
        height: 2em
        width: 10em
        font-size: 1.3em
        &:first-child
            margin-right: 1em
